@model AspNetUsers
@{
    ViewBag.Title = "Delete";
}

<h2>Удалить</h2>

<div>
    <h4>Увольняем?</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Почта
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

       
        <dt>
            ФИО
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fio)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" /> 
        </div>
    }
</div>
