@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Добро пожаловать!</h1>
    <p class="lead">Вы находитесь в тестовой программе, отвечающий за автоматизацию службы HelpDesk Кемеровского Медицинского училища.</p>
    <p>Данная программа была созданна при помощи технологий ASP.Net и EntityFramework</p>
    <p>Чтобы начать пользоваться системой пожалуйста пройдите авторизацию</p>
</div>

<div class="row">
</div>